{{# partial "titulo" }}
  <title>GeSoc - Editor Egreso</title>
{{/partial}}
{{# partial "subtitulo"}}
  <h2>Editor Egreso - {{#organizacion}}{{nombreFicticio}}{{/organizacion}}</h2>
{{/partial}}
{{# partial "barra" }}    
  {{#each opciones}}
	  <li class="nav-item"><a class="nav-link" href="{{key}}">{{this}}</a></li>
  {{/each}}
	<li class="nav-item"><a class="nav-link" href="/logout">Cerrar Sesion</a></li>
{{/partial}}
{{# partial "contenido" }}
  <div class="container bg-dark">
    <form action="/organizaciones/{{#organizacion}}{{codigo}}{{/organizacion}}/egresos/{{#egreso}}{{id}}{{/egreso}}" method="POST">
      <div class="btn-group">
        <a type="button" class="btn btn-dark btn-lg" href="/organizaciones/{{#organizacion}}{{codigo}}{{/organizacion}}/egresos" >Ver Egresos</a>            
        <button type="submit" class="btn btn-dark btn-lg">Borrar</button>
        <a type="button" class="btn btn-dark btn-lg" href="/organizaciones/{{#organizacion}}{{codigo}}{{/organizacion}}/egresos/{{#egreso}}{{id}}{{/egreso}}/items">Ver Items</a>      
        <a type="button" class="btn btn-dark btn-lg" href="/organizaciones/{{#organizacion}}{{codigo}}{{/organizacion}}/egresos/{{#egreso}}{{id}}{{/egreso}}/presupuestos">Ver Presupuestos</a>
      </div>
    </form>
  </div>
  <br>
  <div>            
    {{#egreso}}
    <div class="container">
      <form>
        <div class="row">
          <div class="col">
            <label for="lestado">Estado</label>
          </div>
          <div class="col">
            <input type="text" id="iestado" name="iestado" value={{estado}} {{disabled}} class="form-control">
          </div>        
        </div>
        <br>
        <div class="row">
          <div class="col">
            <label for="lfecha">Fecha</label>
          </div>
          <div class="col">
            <input type="date" id="ifecha" name="ifecha" value={{fecha}} {{disabled}} class="form-control">    
          </div>        
        </div>
        <br>
        <div class="row">
          <div class="col">
            <label for="lmediopago">Medio de Pago</label>
          </div>
          <div class="col">
            <select  id="imediosPago" name="imediosPao" {{disabled}} class="custom-select">
              <option>{{#medioPago}}{{tipoMedio}} - {{codigo}}{{/medioPago}}</option>
            </select>
            </div>
        </div>
        <br>    
        <div class="row">
          <div class="col">
            <label for="lproveedor">Proveedor</label>
          </div>
          <div class="col">
            <input type="text" id="lproveedor" name="lproveedor" {{disabled}} value="{{#proveedor}}{{denominacion}}{{/proveedor}}" class="form-control">
          </div>
        </div>    
        <br>
        <div class="row">
          <div class="col">
            <label for="ldocucomercial">Documento Comercial</label>
          </div>
          <div class="col">
            <input type="text" id="ldocucomercial" name="ldocucomercial" {{disabled}} value="{{#docuComercial}}{{tipoDocumento}} - {{codigo}}{{/docuComercial}}" class="form-control">
          </div>
        </div>
        <br>
      </form>
    </div>
    {{/egreso}}    
  </div>
 {{/partial}}

{{> layout.html.hbs }}