{{# partial "titulo" }}
	<link rel="stylesheet" type="text/css" href="/notificaciones.css">

    <title>GeSoc - Notificaciones</title>
{{/partial}}
{{# partial "barra" }}    
  {{#each opciones}}
	  <li class="nav-item"><a class="nav-link" href="{{key}}">{{this}}</a></li>
  {{/each}}
	<li class="nav-item"><a class="nav-link" href="/logout">Cerrar Sesion</a></li>
{{/partial}}
{{# partial "contenido" }}
<br>

<form class="filtro" action="/notificaciones" method="POST">

<table class="tg" style="undefined;table-layout: fixed; width: 100%">
<colgroup>
<col style="width: 25%">
<col style="width: 25%">
<col style="width: 25%">
<col style="width: 25%">
</colgroup>
<thead>
  <tr>
    <th class="tg-k8z9">Filtros:</th>
    <th class="tg-iks7">
        <div align="center" class="campo">
                <span class="nombre-campo">Egreso:</span><input type="text" name="egreso" placeholder="Ingrese n&uacute;mero de egreso">
    </div>
    </th>
    <th class="tg-iks7">
            <div align="center" class="campo">
                <span class="nombre-campo">Fecha:</span><input type="date" name="fecha" placeholder="Ingrese fecha de notificaci&oacute;n">
    </div>
    
    </th>
    <th class="tg-cg1m">
                <div align="center" >
    
    	            <input type="submit" value="Filtrar">
    	</div>
    
    </th>
  </tr>
</thead>
</table>
<br>
<div align="center">
{{resultadosFiltro}}
</div>
</form>









   <br>
<div class="wrapper">
  <header class="header">Bandeja de entrada de notificaciones</header>
 
 
  <article class="main">
  
  {{confirmacionBorrado}}
  
{{#if mensajes}}
  <p align='right'>
    <a href="/notificaciones/borrar/{{notificacion}}" >  
  <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-file-earmark-x" fill="currentColor" xmlns="http://www.w3.org/2000/svg" >

   <title>Borrar notificaci&oacute;n</title>
  <path d="M4 0h5.5v1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5h1V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2z"/>
  <path d="M9.5 3V0L14 4.5h-3A1.5 1.5 0 0 1 9.5 3z"/>
  <path fill-rule="evenodd" d="M6.146 7.146a.5.5 0 0 1 .708 0L8 8.293l1.146-1.147a.5.5 0 1 1 .708.708L8.707 9l1.147 1.146a.5.5 0 0 1-.708.708L8 9.707l-1.146 1.147a.5.5 0 0 1-.708-.708L7.293 9 6.146 7.854a.5.5 0 0 1 0-.708z"/>

</svg>
</a>
</p>

    <p align="center"><strong><u>Mensajes</u></strong></p>  

{{/if}}

        {{#each mensajes}}
          <p align="center"> {{this}} </p>
    	{{/each}}
    

  </article>
  <aside class="aside aside-1">Listado de mensajes
  
    <br><br>
  
  
  
<div id='cssmenu' >



<ul>
    {{#each notificaciones}}
           <li ><a href='/notificaciones/{{this.id}}'><span>{{this.Titulo}}</span></a></li>
    {{/each}}
</ul>
</div>
  
  </aside>
</div>


{{/partial}}

{{> layout.html.hbs }}